.header-top {
    color: white;
    background-color: #808080;
    height: 52px;

    a {
        color: white;
    }

    &__container {
        height: inherit;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__left {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &__decoration {
        height: inherit;
        width: 1px;
        border-left: 1px solid white;
        margin: 0 70px;
    }

    &__right {
        display: flex;
        justify-content: space-between;
        width: 30%;
    }

    &__language {
        background-color: #D9D9D9;
        width: 40px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        color: black;
        font-size: 14px;
        font-weight: 500;
    }
}

.header-bottom {
    a {
        color: #000;
    }

     &__flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 90px;
        padding: 0 60px;
     }

     &__logo {
        font-size: 40px;
        font-weight: bold;
     }

     &__links {
        display: flex;
        align-items: center;
     }

     &__sell, &__buy {
        display: flex;
        align-items: center;
        color: #000;
     }

     &__sell {
        &::after {
            margin: 0 10px;
            display: inline-block;
            content: "";
            width: 1px;
            height: 15px;
            background-color: #000;
        }
     }

     &__circles {
        display: flex;
        justify-content: space-between;
        width: 78px;
     }

     &__circle {
        height: 35px;
        width: 35px;
        border: 1px solid black;
        border-radius: 50%;
        background-color: white;

        img {
            padding-top: 2px;
        }
     }
}

.menu {   
    a {
        color: #000;
    }

    &__container {
        display: flex;
        align-items: center;
        background-color: #808080;
        height: 60px;

    }
    
    &__wrap {
        height: 42px;
        background-color: #D9D9D9;
        width: 100%;
        display: flex;
    }

    &__name {
        height: 100%;
        display: flex;
        align-items: center;
    }

    &__ul {
        width: 100%;
        list-style-type: none;
        display: flex;
        padding: 0 60px;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;

        .menu__li {
            text-transform: uppercase;
            cursor: pointer;
            position: relative;
            height: 100%;
            display: flex;
            align-items: center;
            padding: 0 5px;
        }
    }
}

.sub-menu {
    position: absolute;
    z-index: 10;
    left: 0;
    top: 42px;
    background-color: #D9D9D9;
    padding: 5px;
    padding-right: 20px;
    width: max-content;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s;

    &.open {
        opacity: 1;
        visibility: visible;
    }

    &.novisible {
        visibility: hidden;
    }

    &__item:not(:first-child) {
        margin-top: 15px;
    }

    &__item {
        text-transform: none;
    }

    &::after {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        right: 5px;
        width: 1px;
        background-color: black;
        height: calc(100% - 10px);
        margin-top: 5px;
    }
}

.sub-sub-menu {
    position: absolute;
    z-index: 11;
    left: 0;
    top: 0;
    background-color: #D9D9D9;
    padding: 5px;
    padding-right: 20px;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s;
    width: max-content;

    &.open {
        opacity: 1;
        visibility: visible;
    }

    &__item:not(:first-child) {
        margin-top: 15px;
    }

    &__item {
        text-transform: none;
    }

    // &::after {
    //     display: block;
    //     content: '';
    //     position: absolute;
    //     top: 0;
    //     right: 5px;
    //     width: 1px;
    //     background-color: black;
    //     height: calc(100% - 10px);
    //     margin-top: 5px;
    // }

    &__columns {
        display: flex;
    }

    &__column {
        padding-right: 30px;
        padding-left: 10px;
        position: relative;

        &::after {
            display: block;
            content: '';
            position: absolute;
            top: 0;
            right: 5px;
            width: 1px;
            background-color: black;
            height: calc(100% - 10px);
            margin-top: 5px;
        }
    }

    &__column:last-child::after {
        display: none;
    }
}



.bonus {
    &__container {
        display: flex;
        padding: 0;
    }

    &__left, &__right {
        width: 50%;
        height: 254px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            object-position: top;
        }
    }

    &__text {
        position: relative;
        text-transform: uppercase;
        font-size: 40px;
        color: white;
    }
}

.goods {
    margin-top: 30px;

    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__item {
        flex: 0 0 30%;
        height: 440px;
        padding-left: 80px;
        box-sizing: border-box;
    }

    &__img {
        width: 200px;
        height: 300px;
    }

    &__sale {
        width: 40px;
        height: 20px;
        background-color: red;
        position: absolute;
        left: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
    }

    &__price, &__name, &__about {
        font-size: 13px;
        margin-top: 5px;
    }

    &__price {
        font-weight: bold;
    }

    &__button {
        width: 100px;
        height: 30px;
        border: 4px solid #808080;
        background-color: #D9D9D9;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
        margin-top: 5px;

        &:hover {
            cursor: pointer;
        }
    }
}

.footer {
    background-color: #D9D9D9;
}

.footer-forms {
    display: flex;

    &__left {
        flex: 0 0 55%;
    }

    &__right {
        position: relative;
        flex: 0 0 45%;
        padding-left: 25px;

        &::before {
            display: block;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 1px;
            height: 100%;
            background-color: black;
        }
    }
}

.footer-left {
    height: 320px;

    &__header {
        margin-top: 20px;
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 15px;
        margin-left: 20px;
    }

    form {    
        position: relative;
    }

    &__mechta {
        position: absolute;
        left: 20px;
        top: 15px;
    }

    textarea {
        position: absolute;
        left: 20px;
        top: 38px;
        width: 255px;
        height: 100px;
        border: 6px solid #808080;
        padding: 5px;
        font-size: 14px;
        resize: none;

        &::placeholder {
            color: #D9D9D9;
        }
    }

    &__brend-l,
    &__brend,
    &__cvet-l,
    &__cvet,
    &__razmer-l,
    &__razmer,
    &__submit
    {
        position: absolute;
        left: 400px;
    }

    &__brend-l {
        top: 15px;
    }

    &__brend, &__cvet, &__razmer {
        width: 130px;
        height: 20px;
        border-radius: 10px;
        padding-left: 5px;
        top: 37px;
    }

    &__cvet-l {
        top: 68px;
    }
    &__cvet {
        top: 90px;
    }

    &__razmer-l {
        top: 120px;
    }
    &__razmer {
        top: 140px;
        width: 75px;
    }

    &__submit {
        height: 22px;
        width: 85px;
        border-radius: 10px;
        background-color: #2CB3FF;
        font-size: 13px;
        top: 170px;
        font-weight: bold;
    }

    &__whatsapp-l {
        position: absolute;
        top: 215px;
        left: 20px;

        input {
            margin-left: 10px;
            width: 150px;
            height: 20px;
        }
    }

    &__email-l {
        position: absolute;
        top: 215px;
        left: 300px;

        input {
            margin-left: 10px;
            width: 150px;
            height: 20px;
        }
    }
}

.input {
  &__file {
    opacity: 0;
    visibility: hidden;
    position: absolute;
  }
   
  &__file-icon-wrapper {
    height: 30px;
    width: 30px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
   
  &__file-button-text {
    line-height: 1;
    margin-top: 1px;
  }
   
  &__file-button {
    position: absolute;
    top: 170px;
    left: 20px;

    width: 100%;
    max-width: 290px;
    height: 30px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    margin: 0 auto;
    text-decoration: underline;
  }
}

.footer-right {
    &__header {
        margin-top: 20px;
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 15px;
        margin-left: 20px;
    }

    &__input {
        width: 155px;
        height: 20px;
        margin-left: 10px;
    }

    &__button {
        height: 20px;
        width: 100px;
        background-color: #2CB3FF;
        border-radius: 10px;
        color: black;
        font-weight: bold;
    }
}

.footer-menu {
    .sub-menu {
        top: auto;
        bottom: 42px;
    }

    .sub-sub-menu {
        top: auto;
        bottom: 0;
    }
}

// select {
//     appearance: none;
//     -moz-appearance: none;
//     -webkit-appearance: none;
// }

// select::-ms-expand {
//     display: none;
// }

// .select-wrapper {
//     position: relative;
// }

// .select-wrapper::before {
//     display: block;
//     content: "";
    
//     position: absolute;
//     top: 50%;
//     right: 15px;
//     transform: translateY(-50%);
//     width: 10px;
//     height: 10px;
//     background-color: red;

//     // Снять клик с треугольника
//     pointer-events: none;

//     background-image: url("template/img/select-arrow.png");
// }

// select {
//     font: inherit;
//     letter-spacing: inherit;
//     word-spacing: inherit;
//     -moz-appearance: none;
//     -webkit-appearance: none;
//     appearance: none;
//   }
  
//   select:not([multiple]) {
//     padding-right: 1.2em;
//     background-repeat: no-repeat;
//     background-position: calc(100% - 0.25em) 0.35em;
//     background-size: 0.85em auto;
//     background-image: url("template/img/select-arrow.png");
//   }

@media (max-width: 1200px) {
    .bonus {
        &__text {
            font-size: 35px;
        }
    }
}

@media (max-width: 992px) {
    .bonus {
        &__text {
            font-size: 26px;
        }
    }
}