@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  border: 0;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

b {
  font-size: inherit;
}

a {
  text-decoration: none;
}

body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: #000;
  font-family: "Arial"; /* , serif; */
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

._container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0 15px;
  box-sizing: content-box; /* Сам прибавляет padding */
}

._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

/* ----------------------------------- */
.header-top {
  color: white;
  background-color: #808080;
  height: 52px;
}
.header-top a {
  color: white;
}
.header-top__container {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-top__left {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.header-top__decoration {
  height: inherit;
  width: 1px;
  border-left: 1px solid white;
  margin: 0 70px;
}
.header-top__right {
  display: flex;
  justify-content: space-between;
  width: 30%;
}
.header-top__language {
  background-color: #D9D9D9;
  width: 40px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: black;
  font-size: 14px;
  font-weight: 500;
}

.header-bottom__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding: 0 60px;
}
.header-bottom__logo {
  font-size: 40px;
  font-weight: bold;
}
.header-bottom__circle {
  height: 35px;
  width: 35px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: white;
}

.menu__container {
  display: flex;
  align-items: center;
  background-color: #808080;
  height: 60px;
}
.menu__wrap {
  height: 42px;
  background-color: #D9D9D9;
  width: 100%;
  display: flex;
}
.menu__ul {
  width: 100%;
  list-style-type: none;
  display: flex;
  padding: 0 60px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.menu__ul .menu__li {
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 5px;
}

.sub-menu {
  position: absolute;
  z-index: 10;
  left: 0;
  top: 42px;
  background-color: #D9D9D9;
  padding: 5px;
  padding-right: 20px;
  width: -moz-max-content;
  width: max-content;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s;
}
.sub-menu.open {
  opacity: 1;
  visibility: visible;
}
.sub-menu.novisible {
  visibility: hidden;
}
.sub-menu__item:not(:first-child) {
  margin-top: 15px;
}
.sub-menu__item {
  text-transform: none;
}
.sub-menu::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  right: 5px;
  width: 1px;
  background-color: black;
  height: calc(100% - 10px);
  margin-top: 5px;
}

.sub-sub-menu {
  position: absolute;
  z-index: 11;
  left: 0;
  top: 0;
  background-color: #D9D9D9;
  padding: 5px;
  padding-right: 20px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s;
  width: -moz-max-content;
  width: max-content;
}
.sub-sub-menu.open {
  opacity: 1;
  visibility: visible;
}
.sub-sub-menu__item:not(:first-child) {
  margin-top: 15px;
}
.sub-sub-menu__item {
  text-transform: none;
}
.sub-sub-menu::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  right: 5px;
  width: 1px;
  background-color: black;
  height: calc(100% - 10px);
  margin-top: 5px;
}

.bonus__container {
  display: flex;
  padding: 0;
}
.bonus__left, .bonus__right {
  width: 50%;
  height: 254px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bonus__left img, .bonus__right img {
  -o-object-position: top;
     object-position: top;
}
.bonus__text {
  position: relative;
  text-transform: uppercase;
  font-size: 40px;
  color: white;
}

@media (max-width: 1200px) {
  .bonus__text {
    font-size: 35px;
  }
}
@media (max-width: 992px) {
  .bonus__text {
    font-size: 26px;
  }
}/*# sourceMappingURL=style.css.map */